
@{
    ViewBag.Title = "SiteMaps";
}

<div class="container">
    <h2>Mapa del sitio</h2>
    <br />
    
    @Html.ActionLink("Inicio", "Index", "Home", new {@class="siteMap" })   
    <br />
    @Html.ActionLink("Bodas", "Bodas", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Comuniones", "Comuniones", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Bebés", "Bebes", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Familias", "Familiares", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Dias especiales", "Festivos", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Embarazadas", "Embarazos", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Revelado fotográfico", "RevFotografico", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Álbum digital", "AlbumDigital", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Impresión digital", "ImpDigColor", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Tarjetas de visita", "TarVisita", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Packagin", "Packagin", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Calendarios", "Calendarios", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Lienzo", "Lienzo", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Cromalux", "Cromalux", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Capatext", "Capatext", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Invitaciones de bodas", "InvitacionBoda", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Tienda virtual", "ListadoFiltroProductos", "CarritoCompras", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Carrito de compra", "ListadoCarritoCompra", "CarritoCompras", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Formulario", "Formulario", "CarritoCompras", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Carrito de compra", "ListadoCarritoCompra", "CarritoCompras", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Contacto", "Contact", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Enviar mensaje", "Mensajeria", "Home", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Registrarse", "Register", "Account", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Inicio de sesión", "Login", "Account", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Contraseña olvidada", "ForgotPassword", "Account", new { @class = "siteMap" })
    <br />
    @Html.ActionLink("Mapa del sitio", "SiteMaps", "Home", new { @class = "siteMap" })
</div>



